.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 12px;
    margin: 0 3px 0 4px;
    content: '/';
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  font-size: 12px;
  white-space: nowrap;
  color: #403549;
  &:hover {
    text-decoration: none;
  }
}
