$burger-height: 17px;
$burger-width: 24px;
$burger-color: #fff;
$burger-item: 3px;
$burger-item-offset: $burger-height - $burger-item * 2;
$burger-item-shadow: -1 * $burger-item - ($burger-item-offset - $burger-item) / 2;

.burger {
  position: relative;
  display: inline-flex;
}

.burger__input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: $burger-width;
  height: $burger-height;
  cursor: pointer;
  opacity: 0;

  &:checked + .burger__label::before {
    transform: translateY($burger-height / 2 - $burger-item * .5) rotateZ(45deg);
  }

  &:checked + .burger__label::after {
    transform: translateY($burger-height / 2 - $burger-item * 1.5) rotateZ(-45deg);

    filter: initial;
  }
}

.burger__label {
  width: $burger-width;
  height: $burger-height;
  margin: auto;
  cursor: pointer;
  user-select: none;
  color: $burger-color;
  border-radius: $burger-item / 2;

  &::before,
  &::after {
    display: block;
    height: $burger-item;
    content: '';
    transition: .5s;
    border-radius: inherit;
    background: $burger-color;
  }

  &::after {
    transform: translateY($burger-item-offset);

    filter: drop-shadow(0 $burger-item-shadow $burger-color);
  }
}
