.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .8;
  background-color: #2f2d2d;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: 80%;
  max-width: 700px;
  max-height: 95vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform $transition-hover;

  will-change: transform;
  &:hover {
    transform: rotate(360deg);
  }
  svg {
    fill: #1e1e1e;
    width: 20px;
    height: 20px;
  }
}

.popup__header {
  padding: 25px;
  background-color: #f7f7f7;
}

.popup__title {
  font-size: 40px;
  line-height: 1;
  margin: 0;
  text-align: center;
  color: $text;
}

.popup__body {
  padding: 35px 20px 50px 20px;
}

.popup__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.popup__form-input {
  width: 46%;
}

.popup__form-textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
}
