.main-wrap {
  //if header STICKY
  padding-top: 50px;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-height: 50px;
  transition: top .4s;
  background-color: $brand;
  .container {
    display: flex;
    align-items: center;
  }
}

.header--scroll-down {
  top: -100px;
}
