//begin fancybox gallery
section.fancybox
  a.fancybox__item(href="assets/img/01.jpg" data-fancybox="images")
    img(src="assets/img/01.jpg", alt="image")
  a.fancybox__item(href="assets/img/02.jpg" data-fancybox="images")
    img(src="assets/img/02.jpg", alt="image")
  a.fancybox__item(href="assets/img/03.jpg" data-fancybox="images")
    img(src="assets/img/03.jpg", alt="image")
//end fancybox gallery