//begin popup
.popup__layer
.popup
  .popup__close
    +svg('close')
  .popup__header
    h2.popup__title Write Review
  .popup__body
    // begin schedule-item__form
    form.popup__form
        input(name='name' placeholder='Your Name').popup__form-input.input
        input(name='email' placeholder='Email').popup__form-input.input
        textarea(placeholder='Your review').popup__form-textarea.textarea
        .popup__form-submit.btn
          input(type='submit' value='send')
    // begin schedule-item__form
//end popup