//begin sticky header like a mobile FB
header.sticky-header
  .sticky-header__inn
    nav.sticky-header__nav
      a.sticky-header__link.active(href='#') one
      a.sticky-header__link(href='#') two
      a.sticky-header__link(href='#') three
      a.sticky-header__link(href='#') four
      a.sticky-header__link(href='#') one
      a.sticky-header__link(href='#') two
      a.sticky-header__link(href='#') three
      a.sticky-header__link(href='#') four
    
    a(href="#").sticky-header__somelink Some link in sticky header
//end sticky header like a mobile FB