//begin breadcrumbs
section.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Главная
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Акции
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") #{pageHeaderTitle}
//end breadcrumbs