//begin breadcrumbs
.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="/") Главная
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") #{breadcrumbs}
//end breadcrumbs