//begin popup
button.popup-open popup open
.popup__layer
  .popup
    h3.popup__title Popup title
    form.popup__form
      input.popup__input(type="text" placeholder="Ваше имя")
      input.popup__input(type="text" placeholder="Ваше имя")
      button.popup__btn Кнопуля
//end popup