@font-face {
  font-family: OpenSans;
  src:  url('../../fonts/OpenSans.woff2') format('woff2'),
        url('../../fonts/OpenSans.woff')  format('woff');
}

@font-face {
  font-family: OpenSans-Light;
  src:  url('../../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../fonts/OpenSans-Light.woff')  format('woff');
}

@font-face {
  font-family: OpenSans-Bold;
  src:  url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff')  format('woff');
}

@font-face {
  font-family: OpenSans-Semibold;
  src:  url('../../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Semibold.woff')  format('woff');
}
