// ***** main colors *******
$brand: #00407a;
$dark: #181a19;
$light: #f5f5f5;

$highlight: #751540;
$highlight-hov: #59233b;

// ***** text colors *******
$text: #646464;
$title: #141414;

// ===== fonts =====
$font:            'OpenSans', sans-serif;
$font-bold:       'OpenSans-Bold', sans-serif;
$font-light:      'OpenSans-Light', sans-serif;
$font-semibold:   'OpenSans-Semibold', sans-serif;

// ===== sizes =====
$radius-btn: 6px;
