extends ../_template

block variables
  - var title       = 'Odinokun`s start template'
  - var description = 'Odinokun`s start template'
  - var ogtitle     = 'Odinokun`s start template'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    section.main
    //end content

    include ../sections/footer