extends ../_template

block variables
  - var title       = 'Index'
  - var description = ''
  - var ogtitle     = ''
  - var ogimage     = ''

  - var pageHeaderTitle = ''
  - var breadcrumbs     = 'breadcrumbs link'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main.index
    //end content

    include ../sections/footer
    include ../sections/scripts
