extends ../_template

block variables
  - var title = 'Odinokun`s start template'

block content
  include ../sections/header
  
  //begin content
  section.main
  //end content

  include ../sections/footer