extends ../_template

mixin test__item(bgImg, title)
  .services__item(style="height: 100px; width: 25%; border: 1px solid #693;text-align:center;display:inline-block;")
    .services__pic(style=`${bgImg}`)
    .services__icon
    h3.services__title #{title}
    a(href="#").services__link

block variables
  - var title = 'Inner'
  - var pageHeaderTitle = 'Внутренняя страница'

block content
  include ../sections/header

  //begin content
  section.main
    .container
      .test-mixins(style="display:flex; justify-content: space-between;")
        +test__item('background-image:url(assets/img/favicon.png);', 'hello world 1')
        +test__item('background-image:url(assets/img/favicon.png);', 'hello world 2')
        +test__item('background-image:url(assets/img/favicon.png);', 'hello world 3')
      h1 Заголовок 1
      h2 Заголовок 2
      h3 Заголовок 3
      h4 Заголовок 4
      h5 Заголовок 5
      h6 Заголовок 6

      p Повседневная практика показывает, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. С другой стороны сложившаяся структура организации требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
      p
       |Равным образом дальнейшее развитие различных форм деятельности играет важную роль в
       =" "
       a(href="#") формировании форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения
       =" "
       |прогрессивного развития. Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение форм развития. Разнообразный и богатый опыт реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.

       ol
        li Пункт 1
        li Пункт 2
        li Пункт 3

       ul
        li Пункт 1
        li Пункт 2
        li Пункт 3
  //end content

  include ../sections/footer
