extends ../_template

mixin test__item(bgImg, itemTitle, newclass)
  .services__item(style="height: 200px; width: 18%; border: 1px solid #693;text-align:center;display:inline-block;")
    .services__pic(style= 'background-image:url(assets/img/' + bgImg + '.jpg); background-size: contain; background-repeat: no-repeat; background-position: center; height: 100%; width: 100%;')
    div(class='services__icon services__icon--' + newclass + '')
    h3.services__title #{itemTitle}
    a(href="#").services__link

block variables
  - var title           = 'Inner'
  - var pageHeaderTitle = 'Внутренняя страница'
  - var description     = 'Odinokun`s start template'
  - var ogtitle         = 'Odinokun`s start template'
  - var ogimage         = 'assets/img/social.jpg'

block content
  .main-wrap.no-js.inner
    include ../sections/header

    //begin content
    main.main
      .container
        .test-mixins(style="display:flex; justify-content: space-between; margin-bottom: 100px;")
          +test__item('social', 'hello world 1', 'class1')
          +test__item('social', 'hello world 2', 'class2')
          +test__item('social', 'hello world 3', 'class3')
          +svg('close')

        .img-wrap(style="display:flex; justify-content: space-around; margin-bottom: 50px;")
          img(src="assets/img/demo.jpg" alt="demo" style="width:25%;")
          img(src="assets/img/demo.jpg" alt="" style="width:25%;")
          img(src="assets/img/demo.jpg" style="width:25%;")

        h1 Заголовок 1
        h2 Заголовок 2
        h3 Заголовок 3
        h4 Заголовок 4
        h5 Заголовок 5
        h6 Заголовок 6

        p Повседневная практика показывает, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. С другой стороны сложившаяся структура организации требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
        p
          | Равным образом дальнейшее развитие различных форм деятельности играет важную роль в
          =" "
          a(href="#") формировании форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения
          =" "
          | прогрессивного развития. Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение форм развития. Разнообразный и богатый опыт реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.

        ol
          li Пункт 1
          li Пункт 2
          li Пункт 3

        ul
          li Пункт 1
          li Пункт 2
          li Пункт 3
    //end content

    include ../sections/footer
    include ../sections/scripts
